ul{
    background-color: lightgoldenrodyellow;
    width: fit-content;
    margin: 30px;
    padding: 10px;
    list-style: none;
}

.valor{
    font-weight: bold;
    font-size: 20px;
}

.detalhe{
    font-size: 12px;
    color: red;
}

.texto{
    margin: 40px;
    padding: 20px;
}

.padrao{
    background-color: #F5F5F5;
}

.destacado{
    background-color: #F0CCE2;
}